<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BinGo </title>

    <link rel="stylesheet" href="{% static 'css/themify-icons.css ' %}">
    <link rel="stylesheet" href="{% static 'css/feather.css ' %}">
   
  <title>{% block title %}Home{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png ' %}" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png ' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css ' %}">
    <link rel="stylesheet" href="{% static 'css/emoji.css ' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css ' %}">

 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <!-- gicon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>

<body class="color-theme-blue">

    <div class="preloader"></div>

    <div class="main-wrap">

        <div class="nav-header bg-transparent shadow-none border-0">
            <div class="nav-top w-100">
                <a href="/user/login"> <h1 class="logo"><span style="color: #d902ff;">B</span>ingo</h1><span class="material-symbols-outlined"> more_up </span> </a>
                <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button>

                <a href="#" class="header-btn d-none d-lg-block bg-transparent fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl" data-bs-toggle="modal" data-bs-target="#Modallogin"></a>
                <a href="/user/signup" class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl" >Register</a>

            </div>


        </div>

        <div class="row">
            <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url(/static/images/login-bg.jpg);"></div>
            <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
                <div class="card shadow-none border-0 ms-auto me-auto login-card">
                    <div class="card-body rounded-0 text-left">
                        <h2 class="fw-700 display1-size display2-md-size mb-3">Login into <br>your account</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group icon-input mb-3">
                            
                                <div class="form-group icon-input mb-3">
                                  
                                    <label for="exampleInputEmail1" class="form-label">username</label>
                                 <br>
                                    {{ form.username }}
                            </div>
                            <div class="form-group icon-input mb-1">
                                <label for="exampleInputEmail1" class="form-label">Password</label>
                                <br>
                                {{ form.password }}
                               
                            </div>
                            <div class="form-check text-left mb-3">
                         
                                <a href="/user/ passwordreset" class="fw-600 font-xsss text-grey-700 mt-1 float-left">Forgot your Password?</a>
                            </div>
                            <div class="col s12">
                                <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                              </div>
                            <button class=" d-lg-block bg-dark fw-500 text-white font-xsss p-2  w100 text-center lh-20 rounded-xl">Login</button>
                        </form>

                        <div class="col-sm-12 p-0 text-left">

                            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Dont have account <a href="/user/signup" class="fw-700 ms-1">Register</a></h6>
                        </div>
                        <div class="col-sm-12 p-0 text-center mt-2">

                            <h6 class="mb-0 d-inline-block bg-white fw-500 font-xsss text-grey-500 mb-3">Or, Sign in with your social account </h6>
                            <div class="form-group mb-1"><a href="#" class="form-control text-left style2-input text-white fw-600 bg-facebook border-0 p-0 mb-2"><img src="static/images/icon-1.png" alt="icon" class="ms-2 w40 mb-1 me-5"> Sign in with Google</a></div>
                            <div class="form-group mb-1"><a href="#" class="form-control text-left style2-input text-white fw-600 bg-twiiter border-0 p-0 "><img src="static/images/icon-3.png" alt="icon" class="ms-2 w40 mb-1 me-5"> Sign in with Facebook</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="{% static 'js/plugin.js' %}"></script>

    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>